[user]
        name = MarcosEllys
        email = marcos.ellys@gmail.com
[push]
        default = simple
[credential]
       helper = cache --timeout=10800
[core]
        editor = vim
        precomposeunicode = true
[color]
        ui = true
        diff = auto
        status = auto
        branch = auto
[grep]
        extendedRegexp = true
[alias]
        # Show all aliases available
        aliases = "!git config --get-regexp '^alias\\.' | cut -c 7- | sed 's/ / = /'"

        # Show who contributed with summarized changes
        contributors = shortlog -sne --no-merges

        # Show latest contribuitions
        history = log -10 --format=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset' --no-merges

        # Show all commits of specific file
        follow = log --format=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset' --no-merges --follow

        # Show diff in all commits of specific file
        follow-show = log -p --format=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset' --no-merges --follow --ignore-space-at-eol --ignore-blank-lines --remove-empty --ignore-all-space --ignore-space-change --log-size

        # Show all commits today
        today = log --format=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset' --no-merges --since=midnight

	# Show all commits today count
	today-count = shortlog -sn --all --no-merges --since=midnight

        # Show all commits specific day
        # How to use : git day 17-07-13
        day = "!git log --after=20\"$1\"' 00:00' --before=20\"$1\"' 23:59' --format=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset' --no-merges #"

        # log with a text-based graphical representation of the commit history.
        graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order

        # Show changes in files in summarized form
        st = status -su

        # Show my latest contributions
        log-me = !git log -10 --author $(git config user.email) --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order --no-merges

        # Sow latest contribuitions
        # How to use : git you MarcosEllys
        you = !git log -10 --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order --no-merges --author

        # Show files changed in last commit
        last = log -1 --format=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset' --stat

        # Show all tags
        stags = log --no-walk --tags --format=format:'%Cgreen%h %Creset• %Cblue%d %Creset • %s %Cred(%cN, %ar)%Creset'

        # show improved
        sh = show --numstat --pretty=format:'%Cgreen%h %Creset• %s %Cred(%cN, %ar)%Creset'

        # diff improved
        df = diff --color --ignore-space-at-eol --ignore-blank-lines

        # push improved
        ps = push

        # pull improved
        pu = pull

        # checkout improved
        ch = checkout

        # commit  improved
        cm = commit -m

        # remove files add for commit
        unadd = reset HEAD
[diff]
          compactionHeuristic = true
          indentHeuristic = true
          algorithm = patience
[interactive]
          diffFilter = diff-highlight
[blame]
          date = relative
